<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="'side'">I'm a drawer------</mat-drawer>
  <mat-drawer-content>    
        
  <mat-sidenav-container>

  <mat-sidenav-content>
    <mat-toolbar color="secondary">
     <div fxHide.gt-xs>
       <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
       </button>
     </div>
     <div><button mat-button [matMenuTriggerFor]="market"><span i18n>Market</span></button>
			<mat-menu #market="matMenu">
			  <button mat-menu-item routerLink="/market">Item 1</button>
			  <button mat-menu-item>Item 2</button>
			</mat-menu>
	 </div>
	 <div><button mat-button [matMenuTriggerFor]="reports"><span i18n>Reports</span></button>
			<mat-menu #reports="matMenu">
			  <button mat-menu-item>Item 1</button>
			  <button mat-menu-item>Item 2</button>
			</mat-menu>
	 </div>
	 <div><button mat-button [matMenuTriggerFor]="subMenu">SubMenu</button>
			<mat-menu #subMenu="matMenu">
			  <button mat-menu-item>Item 1</button>
			  <button mat-menu-item>Item 2</button>
			</mat-menu>
	 </div>
	 <div><button mat-button [matMenuTriggerFor]="subMenu">SubMenu</button>
			<mat-menu #subMenu="matMenu">
			  <button mat-menu-item>Item 1</button>
			  <button mat-menu-item>Item 2</button>
			</mat-menu>
	 </div>
     
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
    
    
  </mat-drawer-content>
  <router-outlet></router-outlet>
</mat-drawer-container>
